body {
    background-color: #516ce0;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #424f86;
    font-size: 25px;
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    font-size: 28px;
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}